.App {
  text-align: center;
  height: auto;
  background-color: blue;
}

.App-souls {
  background-color: green;
  display: inline-flex;
  padding: 1em;
  margin: 1em;
}

.App-purchases {
  background-color: red;
  display: inline-flex;
  padding: 1em;
  margin: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
